<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Stock Quote Finder</title>
	<meta name="description" content="Search for stock quotes">

	<!-- Stylesheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="../styles/app.css?id=6" rel="stylesheet" type="text/css">

	<!-- JQuery -->
	<script src="../js/jquery-2.1.4.min.js"></script>
	<script src="../js/jquery-ui.js"></script>

	<!-- JS Libs -->
	<script src="../components/Constants.js"></script>
	<script src="../components/Stock.js"></script>
	<script src="../components/Modal.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="../js/components.js"></script>

</head>

<body>
	<div>
		<table>
			<tr>
				<td style="text-align:center">
					<header>
						<h1>Stock Quote Finder</h1>
					</header>
				</td>
			</tr>
		</table>
	</div>

	<main>
		<div class="col-md-12">
			<button id="ButtonFavorites" type="button" class="btn btn-primary btn-sm"><span class=""></span> My
				Favorites</button>
		</div>
		<div class="col-md-12">
			<input id="searchTextBox" placeholder="Enter stock ID(s) i.e. MSFT,GOOG" type="text">
			<button id="ButtonSearch" type="submit" class="searchIcon"><span style="vertical-align:bottom"
					class="searchIcon glyphicon glyphicon-search"></span></button>
			<div id="status"></div>
		</div>

		<div class="col-md-12">
			<div id="mainBoxMiddle" class="mainBoxMiddle ScrollStyle"></div>
		</div>
		<div class="row">
			<div id="modalFavorite" class="small-nav col-lg-10 col-md-1 col-sm-1 col-xsm-1"
				style="padding:14px; cursor:pointer;"></div>
		</div>
	</main>
	<script>

		// If not logged in, kick back to main (simple forms authentication), normally handled by a login service. For purposes of this demo, only a few strings are using
		// local session storage. You can also use a wrapper like storage.js.
		if (localStorage.getItem("userID") == null) {
			window.location.href = "../index.html"; // login screen for this app
		}

		// Normally these user actions would be handled in the component, but because you cannot import classes and call them directly (without common.js or a framework)
		// then you first have to make a handler call here and then the component

		displayResults = (searchQuery) => {
			if (searchQuery) {
				let stock = new Stock();
				let searchTemplate = "";
				let stockSearchPromise = stock.Search(searchQuery).then(resSearch => {
					let stockFavoritesList = []; // Object array to store favorites  
					let stockFavoritesPromise = stock.ListFavorites().then(resFavorites => {
						// create a list of stock IDs as string delmited values and pass to search function
						let stockSymbols = "";
						let trailingComma = ",";
						let x = 0;
						for (const item of resFavorites) {
							stockFavoritesList.push(item);
							if (x == resFavorites.length - 1) { trailingComma = ""; }
							x++;
							stockSymbols += item.stockSymbol += trailingComma;

						}
						searchQuery = stockSymbols; // return favorites when clicking 'My Favorites' button

						// Onclicks are sometimes considered taboo but without a framwork you do not have ng directives (like in Angluar)
						for (const item of resSearch) {
							searchTemplate += `<div class=''>
												Name: ${item.name}<br>
												High: ${item.high}<br>
												Low: ${item.low}<br>
												Open: ${item.open}<br>
												LastPrice: ${item.lastPrice}<br>
												PercentChange: ${item.percentChange}<br>`
							if (searchQuery.includes(item.symbol)) {
								for (const stockItem of stockFavoritesList) {
									if (stockItem.stockSymbol.replace(",", "") == item.symbol) {
										searchTemplate += `<p><span style="font-weight:bold">Comment:</span> ${stockItem.comment}</p>`
									}
								}
								searchTemplate += `<a id="${item.symbol}" onclick="initEditFavorite('${item.symbol}');" class="text-link" data-toggle="modal" href="#editFavoriteDialog">
													<button type="button" style="margin-right:5px; margin-bottom:5px;" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</button>
													<button onclick="removeFavorite('${item.symbol}');" type="button" style="margin-bottom:5px;" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</button></a>`
							} else {
								searchTemplate += `<a style="padding:top:10px" id="${item.symbol}" onclick="initAddFavorite('${item.symbol}');" class="text-link" data-toggle="modal" href="#addFavoriteDialog"><button type="button" style="margin-top:10px; margin-bottom:5px;" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span> Add Favorite</button></a>`
							}
							searchTemplate += `</div><hr>`;
						}
						/* The mainBoxMiddle div could be populated by an Ember or Angular component template 
  						   The ajax call could be placed into a component or service. Models could be placed into a models folder */
						if (searchTemplate != "") {
							$(".mainBoxMiddle").html(searchTemplate);
						} else {
							$(".mainBoxMiddle").html("Your query returned no results, please try another search.");
						}
					});

				})
			}
		}

		search = () => {
			// Could do some search string validation here if needed
			searchQuery = $("#searchTextBox").val().replace(/\s/g, ''); // remove spaces after commas (api does not accept)
			displayResults(searchQuery);
		}

		getFavorites = () => {
			let stock = new Stock();
			let stockFavoritesPromise = stock.ListFavorites().then(res => {
				// create a list of stock IDs as string delmited values and pass to search function
				console.log(res);
				if (res.length > 0) {
					let stockSymbols = "";
					let trailingComma = ",";
					let x = 0;
					for (const item of res) {
						if (x == res.length - 1) { trailingComma = "";	}
						x++;
						stockSymbols += item.stockSymbol += trailingComma;
					}
					searchQuery = stockSymbols; // return favorites when clicking 'My Favorites' button
					displayResults(searchQuery);
				} else {
					$("#mainBoxMiddle").html("Unable to find any favorites. Try searching and adding new favorites.");
				}
			})
		}

		initAddFavorite = (stockSymbol) => {
			let modal = new Modal();
			modalHTML = modal.AddFavorite(stockSymbol);
			modalObject = {
				backgroundColor: "background:white",
				targetElement: "#modalFavorite",
				title: "Add Favorite",
				id: "addFavoriteDialog",
				content: modalHTML,
				modalCSS: "height:30vw;",
				modalIcon: ""
			};
			modalDialogComponent(modalObject);
		}

		addFavorite = (stockSymbol) => {
			$(`#${stockSymbol}`).hide();
			let constants = new Constants();
			let userID = constants.userID;
			let comment = $('#favoriteComment').val();
			let stockFavoriteModel = { stockSymbol, comment, userID };
			let stock = new Stock();
			stock.AddFavorite(stockFavoriteModel);
			getFavorites();
			statusMessage("Add");
			$('#addFavoriteDialog').modal('toggle');
		}

		initEditFavorite = (stockSymbol) => {
			let stock = new Stock();
			let stockFavoritesPromise = stock.GetFavorite(stockSymbol).then(res => {
				let stockSymbol = res.stockSymbol;
				let comment = res.comment;

				/*Not a big fan of session in other languages but JS session you have more control over. I normally wouldn't use in JS
				  but with modals is much easier for passing vals with a promise. Without that, the promise cannot pass directly to or initialize
				  the modal, not even through a callback. But, you don't have to use modals though. Frameworks could handle this through a custom servce.*/
				sessionStorage.removeItem('favoriteComment'); // clear from memory
				sessionStorage.removeItem('stockSymbol');
				sessionStorage.setItem('favoriteComment', comment);
				sessionStorage.setItem('stockSymbol', stockSymbol);
			})
		}

		editFavorite = (stockSymbol) => {
			let constants = new Constants();
			let userID = constants.userID;
			let comment = $('#favoriteComment').val();
			let stockFavoriteModel = { stockSymbol, comment, userID };
			let stock = new Stock();
			// This api has no ids for the stocks so since not storing them in db, will do a lookup with 
			// userID and stock ID (we already have these). In essence, this acts like a composite key in relational db terminology.
			stock.EditFavorite(stockFavoriteModel);
			getFavorites();
			statusMessage("Edit");
			$('#editFavoriteDialog').modal('toggle');
		}

		removeFavorite = (stockSymbol) => {
			let constants = new Constants();
			let userID = constants.userID;
			let comment = "";
			let stockFavoriteModel = { stockSymbol, comment, userID };
			let stock = new Stock();
			stock.RemoveFavorite(stockFavoriteModel);
			getFavorites();
			statusMessage("Delete");
		}

		$("#ButtonSearch").on("click", function () {
			search();
		});

		$("#ButtonFavorites").on("click", function () {
			getFavorites();
		});

		let modal = new Modal();
		modalHTML = modal.EditFavorite();
		modalObject = {
			backgroundColor: "background:white",
			targetElement: "#modalFavorite",
			title: "Edit Favorite",
			id: "editFavoriteDialog",
			content: modalHTML,
			modalCSS: "height:30vw;",
			modalIcon: ""
		};
		modalDialogComponent(modalObject);

		statusMessage = (msgType) => {
			// Could change to switch statement when adding more cases
			if ((msgType) == "Add") {
				$("#status").html("Added successfully!")
			}
			if ((msgType) == "Edit") {
				$("#status").html("Updated successfully!")
			}
			if ((msgType) == "Delete") {
				$("#status").html("Removed successfully!")
			}
			setTimeout(function () { $("#status").html("") }, 5000); // clear message after 5 secs
		}

		var input = document.getElementById("searchTextBox");
		input.addEventListener("keyup", function (event) {
			event.preventDefault();
			if (event.keyCode === 13) {
				search();
			}
		});

	</script>
</body>

</html>